@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
a:hover {
  text-decoration: none; }

/* 
CSS
*/
body {
  min-height: 100vh;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1356d3+0,3176f7+100 */
  background: #1356d3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1356d3 0%, #3176f7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1356d3 0%, #3176f7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1356d3 0%, #3176f7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1356d3', endColorstr='#3176f7',GradientType=0 );
  /* IE6-9 */ }

*:focus {
  outline: none; }

.navbar-default {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  min-height: 80px;
  border: none;
  box-shadow: none;
  background: transparent; }
  .navbar-default .navbar-brand {
    margin-right: 50px;
    padding-top: 60px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  .navbar-default .navbar-nav > li > a {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    margin-top: 52px;
    padding-top: 10px;
    text-shadow: none;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 13px; }
    .navbar-default .navbar-nav > li > a p {
      padding-bottom: 7px; }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover p,
    .navbar-default .navbar-nav > li > a:focus p {
      padding-bottom: 5px;
      border-bottom: 2px solid #ffffff; }
  .navbar-default .navbar-nav > li > .menubtn {
    background: #ffffff;
    color: #377dff;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    font-weight: 600; }
  .navbar-default .navbar-nav > li > .menubtn:hover {
    color: #334681;
    background: rgba(255, 255, 255, 0.5); }

@media screen and (max-width: 992px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-default .navbar-nav > li > a {
    margin: 0; }
    .navbar-default .navbar-nav > li > a p {
      margin: 0; }

  .navbar-default .navbar-brand {
    padding-top: 30px; }

  .navbar-default .navbar-nav > li > .menubtn {
    margin-right: 25px;
    text-align: center;
    margin-top: 20px; }
    .navbar-default .navbar-nav > li > .menubtn .crta {
      overflow: hidden; }

  .navbar-default .navbar-nav > .mnbtn {
    border-bottom: none; }

  .navbar-default {
    background: #377dff; }

  .navbar-default .navbar-toggle {
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 22px;
    display: block;
    border: none; }

  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background: transparent; }

  .navbar-default .navbar-toggle .icon-bar {
    background: #ffffff; }

  .navbar-default .navbar-nav {
    margin-top: 0;
    overflow: scroll;
    padding: 0; }

  .navbar-default .navbar-nav > li > a {
    padding: 10px;
    padding-left: 20px; }
    .navbar-default .navbar-nav > li > a .crta {
      width: 0;
      margin-left: -20px;
      background: #334681;
      height: 1px;
      position: absolute;
      margin-top: 10px;
      transition: width 0.4s; }

  .navbar-default .navbar-nav > li {
    border-bottom: 1px solid #f2f3f4; }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-top: 1px solid #f2f3f4;
    height: 100vh !important;
    overflow-x: hidden; }

  .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 200vh; }

  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover .crta,
    .navbar-default .navbar-nav > li > a:focus .crta {
      width: 100%;
      transition: width 0.8s; }
    .navbar-default .navbar-nav > li > a:hover p,
    .navbar-default .navbar-nav > li > a:focus p {
      margin: 0;
      border-bottom: none;
      padding-bottom: 0px; }

  .side-collapse-container {
    width: 100%;
    position: relative;
    right: 0;
    transition: left .4s; }

  .side-collapse-container.out {
    left: 200px; }

  .side-collapse {
    top: 123px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    bottom: 0;
    right: 0;
    width: 250px;
    position: fixed;
    overflow: hidden;
    transition: margin .4s;
    background: #377dff; }

  .side-collapse.in {
    width: 250px;
    transition: margin .4s;
    margin-right: -250px; }

  .navbar-default .navbar-nav > li {
    width: 100%; } }
.navbar-toggle {
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggle .middle-bar {
    opacity: 0; }
  .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggle.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggle.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0); }

@media (max-width: 992px) {
  .navbar-default {
    margin-top: 0 !important; }

  .navbar-default nav {
    height: calc(100vh - 75px); }

  .side-collapse {
    top: 80px; }

  .navbar-default .navbar-toggle {
    padding-left: 15px;
    padding-right: 15px; } }
.hero {
  background: url("../img/bgfirst.jpg");
  min-height: 810px;
  padding-top: 160px; }
  .hero h1 {
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 45px;
    line-height: 70px;
    letter-spacing: 1px; }
  .hero p {
    padding: 0;
    margin: 0;
    margin-top: 50px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px; }
  .hero .readmorebtn {
    margin-top: 70px; }
    .hero .readmorebtn a {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      background: #ffffff;
      padding: 10px 20px 10px 20px;
      border-radius: 25px;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .hero .readmorebtn a:hover {
      color: #334681;
      background: rgba(255, 255, 255, 0.5); }
  .hero .formarow {
    padding-right: 0; }
  .hero .forma {
    -webkit-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 30px 50px 30px 50px;
    background: #ffffff; }
    .hero .forma h1 {
      color: #377dff;
      padding: 0;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 25px; }
    .hero .forma .crtica {
      width: 140px;
      height: 3px;
      background: #377dff; }
    .hero .forma p {
      margin: 0;
      padding: 0;
      color: #aaaaaa;
      margin-top: 30px;
      text-align: center;
      letter-spacing: 0px;
      font-size: 11px;
      font-weight: 400; }
    .hero .forma form h2 {
      margin: 0;
      padding: 0;
      color: #334681;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      margin-top: 20px; }
    .hero .forma form input {
      width: 100%;
      border: none;
      border-bottom: 1px solid #aaaaaa;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #377dff; }
    .hero .forma form button {
      width: 100%;
      max-width: 191px;
      display: block;
      margin: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #ffffff;
      background: #377dff;
      border: none;
      border-radius: 5px;
      margin-top: 40px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #377dff;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .hero .forma form button:hover {
      font-weight: 600;
      color: #377dff;
      background: rgba(255, 255, 255, 0.5); }
    .hero .forma form .pp {
      max-width: 195px;
      margin-left: auto;
      margin-right: auto; }

.howitworks {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 200px; }
  .howitworks h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    color: #334681;
    margin-bottom: 30px; }
  .howitworks .tasks {
    margin-top: 50px; }
    .howitworks .tasks h2 {
      margin-bottom: 30px;
      color: #377dff;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 35px; }
    .howitworks .tasks a .sec {
      border: 1px solid rgba(55, 125, 255, 0.2);
      border-radius: 15px;
      padding: 55px 30px 55px 30px;
      text-align: center; }
      .howitworks .tasks a .sec h2 {
        margin-top: 55px;
        margin-bottom: 30px;
        color: #377dff;
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        font-size: 35px; }
      .howitworks .tasks a .sec p {
        color: #334681;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 400;
        text-align: justify;
        -moz-text-align-last: center;
        text-align-last: center; }
    .howitworks .tasks a:focus {
      text-decoration: none; }
    .howitworks .tasks .sec:hover {
      -webkit-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.4);
      box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.4); }

.headingex {
  background: #edf3ff;
  padding-top: 110px;
  padding-bottom: 150px;
  text-align: center; }
  .headingex h1 {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    color: #334681;
    margin-bottom: 50px; }
  .headingex p {
    margin: auto;
    max-width: 970px;
    color: #334681;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 120px; }
  .headingex .nav-tabs {
    border: none;
    margin: auto;
    display: inline-block;
    text-align: center; }
  .headingex .nav-tabs > li > a {
    border-radius: 0;
    margin: 0;
    box-shadow: none; }
  .headingex .nav-tabs > li {
    border-top: 3px solid #377dff;
    box-shadow: none; }
  .headingex .nav-tabs > li.active, .headingex .nav-tabs > li.active:focus, .headingex .nav-tabs > li.active:hover {
    border: none;
    border-top: 3px solid #334681;
    border-radius: 0;
    background: transparent;
    padding: 1px;
    box-shadow: none; }
  .headingex .nav-tabs > li.active > a, .headingex .nav-tabs > li.active > a:focus, .headingex .nav-tabs > li.active > a:hover {
    background: transparent;
    border: none;
    margin: 0;
    box-shadow: none; }
  .headingex .nav-tabs > li:hover {
    border-top: 3px solid #334681;
    padding: 1px; }
  .headingex .nav-tabs > li > a:hover {
    border: none;
    background: none;
    box-shadow: none; }
  .headingex .tabsmn .tab-content {
    margin-top: 70px; }
  .headingex .tabsmn img {
    min-height: 32px; }
  .headingex .tabsmn h2 {
    margin: 0;
    margin-top: 20px;
    color: #334681;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 600; }
  .headingex .tabsmn p {
    max-width: 240px;
    margin: auto;
    margin-top: 40px;
    color: #334681;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400; }

.cta {
  background: #377dff;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px; }
  .cta h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 50px; }
  .cta .btnsignup a {
    width: 100%;
    max-width: 191px;
    display: block;
    margin: auto;
    padding-top: 13px;
    padding-bottom: 13px;
    color: #377dff;
    background: #ffffff;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    border: 2px solid #ffffff;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  .cta .btnsignup a:hover {
    font-weight: 600;
    color: #ffffff;
    background: rgba(55, 125, 255, 0.5); }

.footer {
  background: #377dff;
  padding-top: 20px;
  padding-bottom: 20px; }
  .footer h1 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 36px; }
  .footer p {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 36px;
    color: #ffffff; }
    .footer p a {
      color: #ffffff; }
  .footer .cop {
    padding-top: 20px;
    padding-bottom: 0;
    border-top: 1px solid #ffffff; }
    .footer .cop a:hover {
      color: #334681; }
  .footer a:hover {
    color: #334681; }
  .footer .cop1 {
    padding-right: 0; }
    .footer .cop1 ul {
      padding: 0; }
      .footer .cop1 ul li {
        display: inline;
        padding-right: 30px; }
        .footer .cop1 ul li a {
          color: #ffffff; }
  .footer .cop2 {
    padding-left: 0; }
    .footer .cop2 p {
      margin: 0;
      padding: 0;
      text-align: right; }

.login {
  min-height: 100vh; }
  .login img {
    margin-top: 85px;
    margin-bottom: 85px; }
  .login .forma {
    -webkit-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 70px 50px 50px 50px;
    background: #ffffff;
    max-width: 370px;
    margin: auto; }
    .login .forma h1 {
      color: #377dff;
      padding: 0;
      margin: 0;
      font-family: 'Montserrat', sans-serif;
      font-weight: 900;
      font-size: 35px;
      padding-bottom: 10px;
      text-align: center; }
    .login .forma .crtica {
      margin: auto;
      margin-bottom: 25px;
      width: 140px;
      height: 3px;
      background: #377dff; }
    .login .forma p {
      margin: 0;
      padding: 0;
      color: #aaaaaa;
      margin-top: 30px;
      text-align: center;
      letter-spacing: 0px;
      font-size: 11px;
      font-weight: 400; }
    .login .forma form h2 {
      margin: 0;
      padding: 0;
      color: #334681;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      margin-top: 20px; }
    .login .forma form input {
      width: 100%;
      border: none;
      border: 1px solid #aaaaaa;
      font-family: 'Roboto', sans-serif;
      font-size: 14px;
      font-weight: 400;
      color: #377dff;
      margin-top: 20px;
      padding: 10px 10px 10px 10px;
      border-radius: 8px; }
    .login .forma form *::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #aaaaaa; }
    .login .forma form *::-moz-placeholder {
      /* Firefox 19+ */
      color: #aaaaaa; }
    .login .forma form *:-ms-input-placeholder {
      /* IE 10+ */
      color: #aaaaaa; }
    .login .forma form *:-moz-placeholder {
      /* Firefox 18- */
      color: #aaaaaa; }
    .login .forma form button {
      width: 100%;
      max-width: 100%;
      display: block;
      margin: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #ffffff;
      background: #377dff;
      border: none;
      border-radius: 5px;
      margin-top: 40px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #377dff;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .login .forma form button:hover {
      font-weight: 600;
      color: #377dff;
      background: rgba(255, 255, 255, 0.5); }
    .login .forma form .pp {
      max-width: 195px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600; }
  .login .pp2 {
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400; }
    .login .pp2 a {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 2px; }

.welcome {
  min-height: 100vh; }
  .welcome img {
    margin-top: 85px;
    margin-bottom: 85px; }
  .welcome h1 {
    margin: auto;
    margin-bottom: 30px;
    max-width: 715px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 1px; }
  .welcome p {
    margin: auto;
    margin-bottom: 50px;
    line-height: 30px;
    max-width: 715px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: #ffffff; }
  .welcome .btnsignup {
    margin-top: 30px; }
    .welcome .btnsignup a {
      width: 100%;
      max-width: 230px;
      display: block;
      margin: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #377dff;
      background: #ffffff;
      border: none;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #ffffff;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
  .welcome .btnsignup a:hover {
    font-weight: 600;
    color: #ffffff;
    background: rgba(55, 125, 255, 0.5); }
  .welcome .pp {
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400; }
    .welcome .pp a {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      padding-left: 5px;
      padding-right: 5px;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 5px; }

.connectwithplugin {
  min-height: 100vh; }
  .connectwithplugin img {
    margin-top: 85px;
    margin-bottom: 85px; }
  .connectwithplugin h1 {
    margin: auto;
    margin-bottom: 30px;
    max-width: 715px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 1px; }
  .connectwithplugin p {
    margin: auto;
    margin-bottom: 50px;
    line-height: 30px;
    max-width: 715px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: #ffffff; }
  .connectwithplugin .btnsignup {
    margin-top: 30px; }
    .connectwithplugin .btnsignup a {
      width: 100%;
      max-width: 230px;
      display: block;
      margin: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #377dff;
      background: #ffffff;
      border: none;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #ffffff;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
  .connectwithplugin .btnsignup a:hover {
    font-weight: 600;
    color: #ffffff;
    background: rgba(55, 125, 255, 0.5); }
  .connectwithplugin .inbtninline {
    text-align: center; }
  .connectwithplugin .btncopy {
    display: inline-block; }
    .connectwithplugin .btncopy a {
      width: 100%;
      margin: auto;
      padding-top: 7px;
      padding-bottom: 7px;
      padding-left: 15px;
      padding-right: 15px;
      color: #ffffff;
      background: #4dde76;
      border: none;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #4dde76;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
  .connectwithplugin .btncopy a:hover {
    font-weight: 600;
    color: #ffffff;
    background: rgba(77, 222, 118, 0.7); }
  .connectwithplugin .crtica {
    width: 140px;
    height: 3px;
    background: #377dff;
    margin: auto; }
  .connectwithplugin input {
    width: 100%;
    max-width: 570px;
    margin: auto;
    display: block;
    margin-top: 45px;
    background: transparent;
    border-radius: 5px;
    border: 1px solid #ffffff;
    padding: 5px 15px 5px 15px;
    color: #ffffff;
    display: inline-block; }
  .connectwithplugin .pp {
    margin-top: 40px;
    color: #ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400; }
    .connectwithplugin .pp a {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      padding-left: 5px;
      padding-right: 5px;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
      padding-bottom: 5px; }

.pluginsuccessfuly {
  min-height: 100vh; }
  .pluginsuccessfuly img {
    margin-top: 85px;
    margin-bottom: 85px; }
  .pluginsuccessfuly .icosucc {
    margin: auto;
    margin-bottom: 50px; }
  .pluginsuccessfuly h1 {
    margin: auto;
    margin-bottom: 30px;
    max-width: 715px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 1px; }
  .pluginsuccessfuly p {
    margin: auto;
    margin-bottom: 50px;
    line-height: 30px;
    max-width: 715px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: #ffffff; }
  .pluginsuccessfuly .btnsignup {
    margin-top: 30px; }
    .pluginsuccessfuly .btnsignup a {
      width: 100%;
      max-width: 230px;
      display: block;
      margin: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #377dff;
      background: #ffffff;
      border: none;
      border-radius: 5px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #ffffff;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
  .pluginsuccessfuly .btnsignup a:hover {
    font-weight: 600;
    color: #ffffff;
    background: rgba(55, 125, 255, 0.5); }

.getintuch {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1356d3+0,3176f7+100 */
  background: #1356d3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1356d3 0%, #377dff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1356d3 0%, #377dff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1356d3 0%, #377dff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1356d3', endColorstr='#3176f7',GradientType=0 );
  /* IE6-9 */
  padding-top: 200px; }
  .getintuch h1 {
    margin: auto;
    margin-bottom: 30px;
    max-width: 715px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 1px; }
  .getintuch p {
    margin: auto;
    margin-bottom: 50px;
    line-height: 30px;
    max-width: 715px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: #ffffff; }
  .getintuch h2 {
    color: #377dff;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    margin-bottom: 80px; }
    .getintuch h2 span {
      color: #ffffff; }
  .getintuch .forma {
    -webkit-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 50px 50px 50px 50px;
    background: #ffffff;
    margin-bottom: 200px; }
    .getintuch .forma form h2 {
      margin: 0;
      padding: 0;
      color: #334681;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600;
      margin-top: 20px; }
    .getintuch .forma form input, .getintuch .forma form textarea {
      width: 100%;
      border: none;
      border: 1px solid #aaaaaa;
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #334681;
      margin-top: 20px;
      padding: 10px 10px 10px 10px;
      border-radius: 8px; }
    .getintuch .forma form .zvijezdica {
      background-image: url(../img/zvijezdica.png);
      background-repeat: no-repeat;
      background-position: right center;
      background-origin: content-box; }
    .getintuch .forma form textarea {
      max-width: 100%;
      min-width: 100%;
      min-height: 100px; }
    .getintuch .forma form *::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #aaaaaa; }
    .getintuch .forma form *::-moz-placeholder {
      /* Firefox 19+ */
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #aaaaaa; }
    .getintuch .forma form *:-ms-input-placeholder {
      /* IE 10+ */
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #aaaaaa; }
    .getintuch .forma form *:-moz-placeholder {
      /* Firefox 18- */
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 600;
      color: #aaaaaa; }
    .getintuch .forma form button {
      width: 100%;
      max-width: 200px;
      display: block;
      margin: auto;
      padding-top: 13px;
      padding-bottom: 13px;
      color: #ffffff;
      background: #377dff;
      border: none;
      border-radius: 5px;
      margin-top: 40px;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 500;
      letter-spacing: 1px;
      border: 2px solid #377dff;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
      -ms-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
    .getintuch .forma form button:hover {
      font-weight: 600;
      color: #377dff;
      background: rgba(255, 255, 255, 0.5); }
    .getintuch .forma form .pp {
      max-width: 195px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: 600; }

.pricing {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1356d3+0,3176f7+100 */
  background: #1356d3;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1356d3 0%, #377dff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1356d3 0%, #377dff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1356d3 0%, #377dff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1356d3', endColorstr='#3176f7',GradientType=0 );
  /* IE6-9 */
  padding-top: 200px; }
  .pricing h1 {
    margin: auto;
    margin-bottom: 30px;
    max-width: 600px;
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    font-size: 40px;
    line-height: 70px;
    letter-spacing: 1px; }
  .pricing p {
    margin: auto;
    margin-bottom: 50px;
    line-height: 30px;
    max-width: 715px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 300;
    text-align: center;
    color: #334681; }
  .pricing h2 {
    color: #377dff;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    margin-bottom: 80px; }
  .pricing .price {
    -webkit-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    padding: 50px 50px 75px 50px;
    background: #ffffff;
    margin-bottom: 200px;
    max-width: 400px;
    margin: auto; }
    .pricing .price h2 {
      margin: 0;
      margin-bottom: 25px; }
    .pricing .price h3 {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #aaaaaa;
      text-align: center;
      margin-bottom: 25px; }
    .pricing .price .crtica {
      width: 140px;
      height: 3px;
      background: #377dff;
      margin: auto; }
    .pricing .price p {
      font-weight: 500;
      margin: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #aaaaaa; }
    .pricing .price .btncreateacc {
      border: 0;
      padding: 0;
      position: absolute;
      margin-top: 40px;
      left: 0;
      right: 0; }
      .pricing .price .btncreateacc a {
        -webkit-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 12px 24px -8px rgba(0, 0, 0, 0.4);
        width: 191px;
        display: block;
        margin: auto;
        padding-top: 13px;
        padding-bottom: 13px;
        color: #ffffff;
        background: #377dff;
        border: none;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1px;
        border: 1px solid #377dff;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease; }
    .pricing .price .btncreateacc a:hover {
      font-weight: 600;
      color: #377dff;
      background: #ffffff; }
  .pricing .pricetm {
    margin-top: 100px; }
    .pricing .pricetm p {
      padding: 0;
      margin: auto;
      margin-top: 30px;
      font-weight: 400;
      color: #ffffff; }
      .pricing .pricetm p span {
        font-weight: 600; }

/*# sourceMappingURL=style.css.map */
